*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  align-items: center;
  justify-content: center;
}

.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
}

.black {
  background-color: black;
  height: 100%;
  width: 100%;
}
